name: CI Frontend CICD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build frontend-cicd Docker image
        run: |
          docker build -t frontend-cicd:latest ./frontend-cicd
